body{
    justify-content: center;
    background-color:#000000 !important;
    background: url("imagenes/wave.gif") no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto mono', monospace;
    background-size: 99% 100%;    
}

nav a{
    text-decoration: none;
    background-color: #000000a4;
    padding: 6px 15px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

img{
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #00000000;
    padding: 10px 10;
    margin: 10px;
}

nav a:hover {
    border-radius: 10px;
    border: 1px solid white;
}

a {
    color: #f1f0f0;
    border-radius: 10px;
}

#cambiarTema{
    position:fixed;
    top: 20px;
    left:20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.225);
    border-radius: 50px;
    padding: 8px;
    cursor: pointer;
    transition-duration: 0.3s;
    backdrop-filter: blur(10px);
}

#cambiarTema:hover{
    border: 1px solid white;
    transition-duration: 0.3s;
}

body.dark {
    background-image: url('imagenes/wave.gif');
}

body.light{
    background-image: url('imagenes/wave2.gif');
}

/* Estilos para tema oscuro */
body.dark p {
    color: #f1f0f0;
}

body.dark h2 {
    color: #f1f0f0;
}

body.dark nav a {
    color: #f1f0f0;
    background-color: #000000a4;
}

body.dark section {
    border: 1px solid rgba(255, 255, 255, 0.225);
    background-color: rgba(8, 23, 32, 0);
}

body.dark blockquote {
    color: white;
}

body.dark form label {
    color: white;
}

body.dark form input, body.dark form textarea {
    border: 1px solid rgba(255, 255, 255, 0.13);
    background-color: #00000029;
    color: white;
}

body.dark footer p {
    color: #f1f0f0;
}

/* Estilos para tema claro */
body.light p {
    color: #2c2c2c;
}

body.light h2 {
    color: #2c2c2c;
}

body.light nav a {
    color: #2c2c2c;
    background-color: #ffffff57;
}

body.light nav a:hover {
    border: 1px solid #2c2c2c;
}

body.light section {
    border: 1px solid rgba(0, 0, 0, 0.225);
    background-color: rgba(255, 255, 255, 0.029);
}

body.light blockquote {
    color: #2c2c2c;
}

body.light form label {
    color: #2c2c2c;
}

body.light form input, body.light form textarea {
    border: 1px solid rgba(0, 0, 0, 0.244);
    background-color: #ffffff29;
    color: #2c2c2c;
}

body.light footer p {
    color: #2c2c2c;
}

body.light #contacto nav a{
    background-color: rgba(35, 35, 35, 0.444);
}

body.dark #contacto nav a{
    background-color: rgba(35, 35, 35, 0.444);
}

body.light .github a{
    background-color: rgba(35, 35, 35, 0.444);
}

body.dark .github a{
    background-color: rgba(35, 35, 35, 0.444);
}


section{
    border: 1px solid rgba(255, 255, 255, 0.225);
    justify-content: center;
    display: block;
    padding: 20px;
    margin: 10px 0;
    background-color: rgba(8, 23, 32, 0);
    backdrop-filter: blur(15px);
    box-shadow: 0 20px 120px rgba(0, 0, 0, 0.584);
    border-radius: 20px;
    width: 50%;
}

p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f1f0f0;
    line-height: 1.5;
}

h2{
    color: #f1f0f0;
    margin-bottom: 10px;
    text-align:center;
}

footer p{
    text-align: center;
    color: #f1f0f0;
    font-size: 0.8em;
}

.refheader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.reftext{
    color: white;
    text-align: center;
    margin: auto 0;
}
.refbutton{
    background-color: transparent;
    border: none;
}
.refimg{
    transform: scaleY(-1);
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 2px;
}

.refcontent{
    display: none;
    margin-top: 20px;
}

.refimg:hover{
    border: 1px solid white;
    border-radius: 50%;
    transition-duration: 0.3s;
}

#contacto nav ul{
    padding: 0;
}

#contacto nav img{
    border-radius:0px;
}

#contacto nav a:hover{
    border: 1px solid rgb(255, 255, 255);
}
#contacto nav a{
    justify-content: center;
    display:flex;
    border: 1px solid rgba(255, 255, 255, 0.13);
    padding: 8px 8px;
}

.github{
    display: flex;
    justify-content: center;
}
.github a{
    border: 1px solid rgba(255, 255, 255, 0.227);
}
.github a:hover{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    transition-duration: 0.3s;
}

blockquote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color:white;
}

.htas{
    flex-wrap: wrap;
}
.htas img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.htas ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 1px;
}

#up{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #00000029;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    padding: 10px;
    border-radius:60px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#up img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
#up:hover{
    border: 1px solid white;
    transition-duration: 0.3s;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

form label{
    color: white;
    font-size: 1.2em;
}

form input, form textarea{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 5px;
    background-color: #00000029;
    color: white;
    font-size: 1em;
    resize: vertical;
}

form #mensaje{
    max-height: 300px;
    overflow-y: auto;
}

form input:focus, form textarea:focus{
    outline: none;
    border-color: white;
    background-color: #000000b3;
}

form button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1d1d1d;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover{
    background-color: #333333;
}

