body{
    justify-content: center;
    background-color:#000000 !important;
    background: url("imagenes/wave.gif") no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto mono', monospace;
    background-size: 99% 100%;    
}

nav a{
    text-decoration: none;
    background-color: #000000a4;
    padding: 6px 15px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

img{
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #00000000;
    padding: 10px 10;
    margin: 10px;
}

nav a:hover {
    border-radius: 10px;
    border: 1px solid white;
}

a {
    color: #f1f0f0;
    border-radius: 10px;
}

section{
    border: 1px solid rgba(255, 255, 255, 0.225);
    justify-content: center;
    display: block;
    padding: 20px;
    margin: 10px 0;
    background-color: rgba(8, 23, 32, 0);
    backdrop-filter: blur(15px);
    box-shadow: 0 20px 120px rgba(0, 0, 0, 0.584);
    border-radius: 20px;
    width: 50%;
}

p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f1f0f0;
    line-height: 1.5;
}

h2{
    color: #f1f0f0;
    margin-bottom: 10px;
    text-align:center;
}

footer p{
    text-align: center;
    color: #f1f0f0;
    font-size: 0.8em;
}
#proyectos a{
    display: flex;
    justify-content: center;
    margin:10px;
}
#contacto nav ul{
    padding: 0;
}

#contacto nav img{
    border-radius:0px;
}

#contacto nav a:hover{
    border: 1px solid white;
}
#contacto nav a{
    justify-content: center;
    display:flex;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.13);
    padding: 8px 8px;
}

.github{
    display: flex;
    justify-content: center;
}
.github a:hover{
    border: 1px solid white;
    border-radius: 50px;
    margin:1px;
    padding:1px;
}

blockquote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color:white;
}

.htas{
    flex-wrap: wrap;
}
.htas img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.htas ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 1px;
}
.up{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.up button{
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.225);
    background-color: rgba(8, 23, 32, 0);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}
.up button img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.up button:hover{
    border: 1px solid white;
    transition-duration: 0.3s;
}